@{
    ViewData["Title"] = "Blog Details";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_title text-center mb-90">
                <h2>Blog Details</h2>
                <p>Read our latest articles and insights.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h3>Blog Details Coming Soon</h3>
                <p>We're working on detailed blog posts with furniture tips and design inspiration.</p>
            </div>
        </div>
    </div>
</div>